{
  "parser": "babel-eslint",
  "plugins": ["jest", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:jest/recommended",
    "plugin:jest/style",
    "plugin:node/recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "env": {
    "browser": false,
    "node": true,
    "es6": true
  },
  "rules": {
    "no-global-assign": [
      "error",
      {
        "exceptions": ["console"]
      }
    ],
    "node/no-missing-import": "off",
    "node/no-unsupported-features/es-syntax": [
      "error",
      {
        "ignores": ["modules"]
      }
    ],
    "node/no-extraneous-import": ["error"]
  },
  "overrides": [
    {
      "files": ["__tests__/**/*.js"],
      "env": {
        "jest": true
      },
      "rules": {
        "node/no-extraneous-import": "off"
      }
    }
  ]
}
